<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 어떤 DAO에서 사용하는지 -->
<mapper namespace="kr.smhrd.model.BoardDAO">
   
   <insert 
   id="write"
   parameterType="BoardVO">
   		insert into msg_board
   		values (
   			msg_num_seq.nextval,
   			#{writer},
   			#{title},
   			#{fileName},
   			#{content},
   			sysdate
   		)
   		
   </insert>
  
 	<select 
 	id="selectBoard"
 	resultType="BoardVO">
 		select * from msg_board
 	</select>
 	
 	<select 
 	id="selectOne"
 	resultType="BoardVO">
 		select * from msg_board
 		where num = #{num}
 	</select>
 	
 	<select 
 	id="search"
 	resultType="BoardVO">
 		select * from msg_board
 		where title like #{data}
 	</select>
  
  
</mapper>